nav {
    background-color: #1fbaee;
    color: white;
    width: 60%;
    height: 140vh;
    max-width: 200px;
    font-size: 20px;
    }
    
    .navbar-nav{
        margin-top: -600px;
    }
    .navbar-nav .nav-item {
        
    padding: 0 30px;
    }
    
    
    .navbar-nav .nav-item:hover {
    background-color: white;
    border-radius: 8px;
    }
    
    
    .navbar-nav .nav-item:hover a {
    color: #e9b960;
    }
    
    
    .navbar-nav .nav-item a {
    color: white;
    font-family: 'Times', 'Times New Roman', serif;
    }

    